<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/CasinoSub?zeroDateTimeBehavior=convertToNull</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password">root</property>
    <property name="hibernate.show_sql">true</property>
    <property name="hibernate.current_session_context_class">thread</property>
    <mapping resource="com/pasantia/entidades/PrecioCompra.hbm.xml"/>
    <mapping resource="com/pasantia/entidades/Rol.hbm.xml"/>
    <mapping resource="com/pasantia/entidades/FechaCompra.hbm.xml"/>
    <mapping resource="com/pasantia/entidades/Casino.hbm.xml"/>
    <mapping resource="com/pasantia/entidades/FechaEntrega.hbm.xml"/>
    <mapping resource="com/pasantia/entidades/Pais.hbm.xml"/>
    <mapping resource="com/pasantia/entidades/Cargo.hbm.xml"/>
    <mapping resource="com/pasantia/entidades/Usuario.hbm.xml"/>
    <mapping resource="com/pasantia/entidades/FormaDePagar.hbm.xml"/>
    <mapping resource="com/pasantia/entidades/Proveedor.hbm.xml"/>
    <mapping resource="com/pasantia/entidades/CatalogoVenta.hbm.xml"/>
    <mapping resource="com/pasantia/entidades/Vendedores.hbm.xml"/>
    <mapping resource="com/pasantia/entidades/Departamento.hbm.xml"/>
    <mapping resource="com/pasantia/entidades/DetalleVenta.hbm.xml"/>
    <mapping resource="com/pasantia/entidades/DiasPedidos.hbm.xml"/>
    <mapping resource="com/pasantia/entidades/Inventario.hbm.xml"/>
    <mapping resource="com/pasantia/entidades/DetalleCompra.hbm.xml"/>
    <mapping resource="com/pasantia/entidades/Categoria.hbm.xml"/>
    <mapping resource="com/pasantia/entidades/Cliente.hbm.xml"/>
    <mapping resource="com/pasantia/entidades/DiasEntregaPedidos.hbm.xml"/>
    <mapping resource="com/pasantia/entidades/Ciudad.hbm.xml"/>
    <mapping resource="com/pasantia/entidades/Venta.hbm.xml"/>
    <mapping resource="com/pasantia/entidades/Producto.hbm.xml"/>
    <mapping resource="com/pasantia/entidades/Ubicacion.hbm.xml"/>
    <mapping resource="com/pasantia/entidades/Compra.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
